/* Main styles */

body{
	background-color:  black;
	background-size: cover;
	background-position: center;
	
}

h1{
	color: white;
	font-size: 400%;
	text-align: center;
	padding: 200px 0;	
}

li{
	color: white;
	font-size: 200%;
	text-align: center;
}

ul{
    list-style-position: inside;
}

/* Links */

a{
	color: white;
}

a:hover{
	color: gray;
}

a:active{
	color: dimgray;
}